h1 {
	color: red;
	background-color: black;
	font-family: cursive;
	text-align: center;
}
 .card {
	background: white;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 1.0);
	width: 300px;
	margin: 0 auto;
}